@charset "UTF-8";

/* reset css */
@import "reset.css";

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    width: 340px;
    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.wrap .menu {
    display: flex;
    justify-content: space-between;
}

.wrap .menu a {
    font-size: 20px;
    color: #666;
}

.wrap .menu a:nth-of-type(1) {
    float: left;
}

.wrap .menu a:nth-of-type(2) {
    float: right;
}

.wrap .profile {
    width: 100%;
    text-align: center;
}

.wrap .profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.wrap .profile h1 {
    font: bold 22px/1 "arial";
    color: #555;
    margin-bottom: 5px;
}

.wrap .profile p {
    font:  12px/1 "arial";
    color: #bbb;
    margin-bottom: 30px;
}

.wrap .profile .btnView {
    display: block;
    width: 180px;
    height: 32px;
    margin: 0 auto 20px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, .6);
    text-decoration: none;
    font: bold 12px/1 "arial";
    color: #fff;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.wrap .contact li {
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
}

.wrap .contact li:last-child {
    border-bottom: none;
}


.wrap .contact li i {
    width: 30%;
    text-align: center;
    color: #555;
    font-size: 15px;
    text-shadow: 2px 2px 2px #ddd;
}

.wrap .contact li span {
    font: 11px/1 "arial";
    color: #555;
    letter-spacing: 1px;
    text-align: center;
}

.wrap .others {
    display: flex;
    justify-content: center;
    font-size: 0px;
    margin: 20px;
}

.wrap .others a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: gray;
    border-radius: 50%;
    margin: 0 10px;
    opacity: 0.5;
}

.wrap .others a.on {
    opacity: 1;
}

.wrap .others a:nth-of-type(1) {
    background: linear-gradient(45deg, #ee9ca7,#ffdde1);
    box-shadow: 5px 5px 10px #ee9ca7;
}

.wrap .others a:nth-of-type(2) {
    background: linear-gradient(45deg, #56CCF2,#2F80ED);
    box-shadow: 5px 5px 10px #396afc;
}
.wrap .others a:nth-of-type(3) {
    background: linear-gradient(45deg, #C02425, #F0CB35);
    box-shadow: 5px 5px 10px #F3904F;
}
.wrap .others a:nth-of-type(4) {
    background: linear-gradient(45deg, #83a4d4, #b6fbff);
    box-shadow: 5px 5px 10px #83a4d4;
}

/* member1 custom */
.member1 {
    background: #f5b4bd;
}
.member1 .wrap .profile img {
    box-shadow: 5px 15px 30px #f5b4bd;
}
.member1 .wrap .profile .btnView1 {
    background: linear-gradient(45deg, #ee9ca7,#ffdde1);
    box-shadow: 5px 10px 20px #f5b4bd;
}

/* member2 custom */
.member2 {
    background: #56CCF2;
}
.member2 .wrap .profile img {
    box-shadow: 5px 15px 30px #56CCF2;
}
.member2 .wrap .profile .btnView2 {
    background: linear-gradient(45deg, #56CCF2,#2F80ED);
    box-shadow: 5px 5px 10px #396afc;
}

/* member3 custom */
.member3 {
    background: #F3904F;
}
.member3 .wrap .profile img {
    box-shadow: 5px 15px 30px #F3904F;
}
.member3 .wrap .profile .btnView3 {
    background: linear-gradient(45deg, #C02425, #cecbbe);
    box-shadow: 5px 5px 10px #F3904F;
}

/* member4 custom */
.member4 {
    background: #83a4d4;
}
.member4 .wrap .profile img {
    box-shadow: 5px 15px 30px #83a4d4;
}
.member4 .wrap .profile .btnView4 {
    background: linear-gradient(45deg, #83a4d4, #b6fbff);
    box-shadow: 5px 5px 10px #83a4d4;
}
